.svn
index.php
hello.php
akismet
codestyling-localization
capsman
debug-objects
debug-queries
embedly
wp-developer-assistant
wpdb-profiling
simple-facebook-connect
w3-total-cache
wp-pagenavi
wordpress-console
cron-view
draft
pages